.form-containerss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

.form-input,
.form-select,
.form-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #218838;
}

.flex-group {
  display: flex;
  justify-content: space-between;
}

.flex-group input {
  width: calc(33.33% - 6px);
}
